.content {
    max-width: auto;
    padding: 25px;
  }
.body{
    margin:auto;
    }
.tekst{
    font-size: 14px;
    font-weight: bold;
}
#detalji{
    display: flex;
    justify-content: space-between;
    width: 200px;
}
#progresLjubicasti{
    color:#fff;
    background-color: mediumpurple;
    height:24px;
    width:110px;
    padding:0.01em 16px;
    border-radius:16px;
}
.okvir{
    color: #000;
    border-radius:16px;
    width: 200px;
    background-color:#f1f1f1;
    border: 1px solid black;
}
.uplata {
    border: 1px transparent solid; 
    display:inline-block;
    width:12em;
}
input[type=submit]:hover{
    background-color: black;
    color: whitesmoke;
  }
input[type=submit] {
    border: 1px solid;
    color: #4158d0;
    background-color: white;
    width: 70px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    position: relative;
    left: 35%;
    top: 5px;
    border-radius: 4px;
}
.flex {
    display: flex;
}
@media only screen and (max-width: 800px) {
    .mrvica {
        padding-left: 200px;
    }
    .flex {
        flex-direction: column;
    }
    .content {
        padding-left: 200px;
    }
}