body {   

    background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    font-family: sans-serif;
}
h1 {
    padding-bottom: 50px;
    padding-top: 80px;
    padding-right: 5%;

}
p {
    padding-bottom: 70px;
    padding-top: 30px;
    position: absolute;
    right: 18%;
    top:30;
    font-size: x-large;
    margin-top: 1%;
    margin-right: 4%;
}
#odjava {
    margin-left: 24%;
    margin-top: 6%;
    border-radius: 5px;
    color: #4158d0;
    font-size: 25px;
    background-color: white;
    border: 1px solid;
    border-radius: 4px;
}
#odjava:hover {
    background-color: black;
    color: whitesmoke;
}
img {
    width: 130px;
    height: 150px;
    position: absolute;
    right: 24%;
    top: 6%;
}
.btn {
    border: rgb(64, 0, 94);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    text-align: center;
    padding: 20px 20px;
    width: 400px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    border: 1px solid black;
    font-weight: 750;
    position: relative;
    left: 23%;
    bottom: 50%;
    border-radius: 5px;
    margin: 5px;
}
.btn:hover {
    background-color: rgb(70, 61, 206);
    color: white;
}
#profpic {
    width: 125px;
    height: 140px;
    position: absolute;
    left: 25%;
    top: 5%;
}
@media only screen and (max-width: 900px) {
    body {
        padding-right: 180px;
    }
    img {
        right: 14%;
    }
    p {
        top: 4px;
        left: 4px;
        font-size: medium;
    }
}
